<ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item">
        <a href="/Admin/Dashboard/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Dashboard</div>
        </a>
    </li>


    <!-- Ürünler -->
    <li class="menu-item">
        <a href="/Admin/Product/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-chair"></i>
            <div data-i18n="Analytics">Ürünler</div>
        </a>
    </li>
    <!-- Siparişler -->
    <li class="menu-item">
        <a href="/Admin/Order/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-chair"></i>
            <div data-i18n="Analytics">Siparişler</div>
        </a>
    </li>
    <!-- Misafirler -->
    <li class="menu-item">
        <a href="/Admin/User/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-walk"></i>
            <div data-i18n="Analytics">Misafirler</div>
        </a>
    </li>
    <!-- Mesajlar -->
    <li class="menu-item">
        <a href="/Admin/ContactUs/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-message-rounded-edit"></i>
            <div data-i18n="Analytics">Mesajlar</div>
        </a>
    </li>







    <!-- Rol İşlemleri -->
    <li class="menu-item">
        <a href="/Admin/Role/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-user-check"></i>
            <div data-i18n="Analytics">Roller</div>
        </a>
    </li>
    <!-- Kullanıcı Rolleri -->
    <li class="menu-item">
        <a href="/Admin/Role/UserList/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-user-check"></i>
            <div data-i18n="Analytics">Rol Ata</div>
        </a>
    </li>
    <!-- Çıkış Yap -->
    <li class="menu-item">
        <a href="/Login/LogOut/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-exit"></i>
            <div data-i18n="Analytics">Çıkış Yap</div>
        </a>
    </li>

</ul>
