@{
    ViewData["Title"] = "Done";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex align-items-center min-vh-100">
                <div class="w-100 d-block bg-white shadow-lg rounded my-4">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="p-3">

                                <div class="text-center">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Antu_task-complete.svg/512px-Antu_task-complete.svg.png" alt="error" height="350" width="350">
                                    <h1 class="h4 mb-3 mt-4">Siparişiniz başarılı bir şekilde oluşturulmuştur.<br /> Siparişinizin durumunu ve takibini "Ayarlar > Hesabım" alanından kontrol edebilirsiniz.</h1>
                                    <p class="text-muted mb-4 w-75 m-auto">Daha fazlası için litfen bizimle iletişime geçin.</p>
                                </div>

                                <div class="row">
                                    <div class="col-3"></div>
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-md-4 col-xl-5 mt-4">
                                                <div class="col-12 text-center">
                                                    <a href="/Contact/Index/" class="btn btn-success"><i class="mdi mdi-email mr-2"></i>Bize Ulaşın</a>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xl-5 mt-4">
                                                <div class="col-12 text-center">
                                                    <a href="/Product/Index/" class="btn btn-success"><i class="mdi mdi-email mr-2"></i>Ana Sayfa</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

