<div class="section pb-100px pt-100px">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center" data-aos="fade-up">
                <div class="section-title mb-0">
                    <h2 class="title">Kampanyalarımız</h2>
                    <p class="sub-title mb-30px">Yenilikçi Mobilya Kampanyalarıyla Ev Dekorasyonunda Tasarruf Edin!</p>
                </div>
            </div>
            <div class="col-lg-6 col-12 mb-md-30px mb-lm-30px" data-aos="fade-up" data-aos-delay="200">
                <a href="#" class="banner">
                    <img src="https://b2853243.smushcdn.com/2853243/wp-content/uploads/davinci-sofa-9.jpg?size=1920x1281&lossy=1&strip=1&webp=1" alt="" />
                    <div class="info justify-content-end">
                        <div class="content align-self-center">
                            <h3 class="title">
                                Yazlık  <br /> Mobilyalar
                            </h3>
                            <p>Büyük İndirim!!!</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-12" data-aos="fade-up" data-aos-delay="400">
                <a href="#" class="banner">
                    <img src="https://b2853243.smushcdn.com/2853243/wp-content/uploads/kyoto-corner-set-.jpeg?size=1920x1281&lossy=1&strip=1&webp=1" alt="" />
                    <div class="info justify-content-start">
                        <div class="content align-self-center">
                            <h3 class="title">
                                Ofis Koltukları<br /> En İyi Teklif İçin
                            </h3>
                            <p>Büyük İndirim!!!</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
