@model CardItemViewModel

@{
    double totalAll = 0;
}

<div id="offcanvas-cart" class="offcanvas offcanvas-cart">
    <div class="inner">
        <div class="head">
            <span class="title">Sepet</span>
            <button class="offcanvas-close">×</button>
        </div>
        <div class="body customScroll">
            <ul class="minicart-product-list">
                @if (Model.CardItems.Count != 0)
                {
                    @foreach (var item in Model.CardItems)
                    {
                        var totalPrice = (item.Product.Price * item.Quantity);
                        totalAll += totalPrice;
                        <li>
                            <a href="/Product/Detail/@item.Product.ProductID" class="image"><img src="@item.Product.ImageURL" alt="Cart product Image"></a>
                            <div class="content">
                                <a href="/Product/Detail/@item.Product.ProductID" class="title">@item.Product.Name</a>
                                <span class="quantity-price">@item.Quantity x <span class="amount">@item.Product.Price</span></span>
                                <a href="/Cart/RemoveItem/@item.CardItemID" class="remove">×</a>
                            </div>
                        </li>
                    }
                }
                else
                {
                    <li>
                        <p>Sepetinizde ürün bulunmamaktadır.</p>
                    </li>
                }
            </ul>
        </div>
        <div class="foot">
            <div class="sub-total">
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="text-start">Ara-Toplam :</td>
                            <td class="text-end">₺@totalAll</td>
                        </tr>
                        <tr>
                            <td class="text-start">Kargo :</td>
                            <td class="text-end">₺0.00</td>
                        </tr>
                        <tr>
                            <td class="text-start">KDV (20%) :</td>
                            <td class="text-end">₺@(totalAll * 0.2)</td>
                        </tr>
                        <tr>
                            <td class="text-start">TOPLAM :</td>
                            <td class="text-end theme-color">₺@(totalAll * 1.2)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="buttons">
                <a href="/Cart/Index" class="btn btn-dark btn-hover-primary mb-30px">Sepete Git</a>
                <a href="/Checkout/Index" class="btn btn-outline-dark current-btn">Ödeme İşlemleri</a>
            </div>
            <p class="minicart-message">Tüm Siparişlerde Ücretsiz Kargo!!!</p>
        </div>
    </div>
</div>
