<div id="offcanvas-mobile-menu" class="offcanvas offcanvas-mobile-menu">
    <button class="offcanvas-close"></button>
    <div class="inner customScroll">

        <div class="offcanvas-menu mb-20px">
            <ul>
                <li>
                    <a href="/"><span class="menu-text">Ana Sayfa</span></a>
                    
                </li>
                <li><a href="/About/Index/">Hakkımızda</a></li>
                <li><a href="/Product/Index/">Ürünler</a></li>
                <li><a href="/Contact/Index/">İletişim</a></li>
                <li><a href="/Cart/Index/">Sepetim</a></li>
                <li><a href="/Checkout/Index/">Ödeme İşlemleri</a></li>
            </ul>
        </div>
        <!-- OffCanvas Menu End -->
        <!-- Language Currency start -->
        <div class="offcanvas-userpanel mt-8">
            <ul>
                <!-- Language Start -->
                <li class="offcanvas-userpanel__role">
                    <a href="#">English <i class="ion-ios-arrow-down"></i></a>
                    <ul class="user-sub-menu">
                        <li><a class="current" href="#">İngilizce</a></li>
                        <li><a href="#"> İtalyanca</a></li>
                        <li><a href="#"> Fransızca</a></li>
                        <li><a href="#"> Türkçe</a></li>
                    </ul>
                </li>
                <!-- Language End -->
                <!-- Currency Start -->
                <li class="offcanvas-userpanel__role">
                    <a href="#">TL ₺ <i class="ion-ios-arrow-down"></i></a>
                    <ul class="user-sub-menu">
                        <li><a  href="#">USD $</a></li>
                        <li><a href="#">EUR €</a></li>
                        <li><a href="#">POUND £</a></li>
                        <li><a class="current" href="#">TL ₺</a></li>
                    </ul>
                </li>
                <!-- Currency End -->
            </ul>
        </div>
        <!-- Language Currency End -->
        <div class="offcanvas-social mt-auto">
            <ul>
                <li>
                    <a href="#"><i class="ion-social-facebook"></i></a>
                </li>
                <li>
                    <a href="#"><i class="ion-social-twitter"></i></a>
                </li>
                <li>
                    <a href="#"><i class="ion-social-google"></i></a>
                </li>
                <li>
                    <a href="#"><i class="ion-social-youtube"></i></a>
                </li>
                <li>
                    <a href="#"><i class="ion-social-instagram"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
