<div class="section pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-md-12" data-aos="fade-up">
                <div class="section-title text-center mb-11">
                    <h2 class="title">Bizi Takip Edin </h2>
                    <p class="sub-title">Ev dekorasyonunda ilham veren mobilya koleksiyonumuzla evinizi yeniden tasarlayın! 🏡✨ <br /><a href="https://www.instagram.com/explore/tags/mobilya/" target="_blank">#Mobilya</a> <a href="https://www.instagram.com/explore/tags/koltuktak%C4%B1mlar%C4%B1/" target="_blank">#KoltukTakımı</a> <a href="https://www.instagram.com/explore/tags/oturmaodas%C4%B1tak%C4%B1mlar%C4%B1/" target="_blank">#OturmaOdasıTakımları</a></p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Single Item -->
            <div class="col-lg-3 col-md-6 col-sm-6 mb-md-30px mb-lm-30px" data-aos="fade-up" data-aos-delay="200">
                <div class="insta-wrapper">
                    <a href="https://www.instagram.com/" target="_blank">
                        <img class="w-100" style="height:200px; width:300px;" src="https://ideacdn.net/idea/lt/02/myassets/products/839/ipek-mobilya0209-1_min.jpg?revision=1714742272" alt="">

                    </a>
                </div>
            </div>
            <!-- Single Item -->
            <div class="col-lg-3 col-md-6 col-sm-6 mb-md-30px mb-lm-30px" data-aos="fade-up" data-aos-delay="400">
                <div class="insta-wrapper">
                    <a href="https://www.instagram.com/" target="_blank">
                        <img class="w-100" style="height:200px; width:300px;" src="https://ideacdn.net/idea/lt/02/myassets/products/483/ziens-copy_min.jpg?revision=1714738687" alt="">

                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 mb-xs-30px" data-aos="fade-up" data-aos-delay="600">
                <div class="insta-wrapper">
                    <a href="https://www.instagram.com/" target="_blank">
                        <img class="w-100" style="height:200px; width:300px;" src="https://ideacdn.net/idea/lt/02/myassets/products/099/ipek_min.jpg?revision=1714741963" alt="">

                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 " data-aos="fade-up" data-aos-delay="800">
                <div class="insta-wrapper">
                    <a href="https://www.instagram.com/" target="_blank">
                        <img class="w-100" style="height:200px; width:300px;" src="https://ideacdn.net/idea/lt/02/myassets/products/612/whatsapp-image-2023-10-06-at-10-48-06_min.jpeg?revision=1714742151" alt="">

                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
